<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.badoo_clone">

    <application
        android:allowBackup="true"
        android:icon="@drawable/main_applogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Badoo_Clone">
        <activity android:name=".SignUp_Finish"></activity>
        <activity android:name=".SignUp_SetPassword" />
        <activity android:name=".SignUp_DrinkSmoke" />
        <activity android:name=".SignUp_RelationshipStatus" />
        <activity android:name=".SignUp_SexualOrientation" />
        <activity android:name=".SignUp_UploadPicture" />
        <activity android:name=".SignUp_Motive" />
        <activity android:name=".SignUp_CommunityGuidlines" />
        <activity android:name=".SignUp_Email" />
        <activity android:name=".MainPage_ProfileSelf" />
        <activity android:name=".MainPage_Messages" />
        <activity android:name=".MainPage_ProfileView" />
        <activity android:name=".MainPage_ConnectInstantly" />
        <activity android:name=".SignUp_Birthday" />
        <activity android:name=".SignUp_Name" />
        <activity android:name=".LoginScreen" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>