<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.badoo_clone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Badoo_Clone">
        <activity android:name=".LoginScreen"></activity>
        <activity android:name=".MainPage_ProfileSelf" />
        <activity android:name=".MainPage_Messages" />
        <activity android:name=".MainPage_ProfileView" />
        <activity android:name=".MainPage_ConnectInstantly" />
        <activity android:name=".SignUp_Birthday" />
        <activity android:name=".SignUp_Name" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>